<div class=" container clearfix">
    <div class="row">
        <h1>
            Latest Hindi
        </h1>
        <a routerLink="/gallery"  routerLinkActive="active">All music</a>
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active " >
                    <a class="d-block mb-4 h-100 col-lg-2 col-md-4 col-6 " data-toggle="modal" data-target=".musicPopUp-modal-lg" (click)="popUp()" *ngFor="let musicName of musicNames">
                    <img class="img-fluid img-thumbnail" src="assets/images/pic{{musicName}}.jpg">
                    </a>
                  </div>
                  <div class="carousel-item" >
                    <a class="mb-4 h-100 col-lg-2 col-md-4 col-6 " data-toggle="modal" data-target=".musicPopUp-modal-lg" (click)="popUp()" *ngFor="let musicName of musicNames">
                    <img class="img-fluid img-thumbnail" src="assets/images/pic{{musicName}}.jpg">
                    <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                  </div>

                  
                </div>
                
              </div>
        </div>
    </div>
            
    
</div>
<!--Music Popup -->
<div class="modal fade musicPopUp-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" id="musicPopUp-modal-lg">
    <div class="modal-dialog modal-lg bg-light">
      <div class="row">
          <div class="col-md-2 mb-2">
              <img class="img-fluid" src="assets/images/pic.jpg"
              alt="Card image cap">
          </div>
          <div class="col-md-6 mb-6">
              <audio controls>
                  <source src="horse.mp3" type="audio/mpeg">
              </audio>
              
          </div>
          <div class="modal-footer col-md-3 mb-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>