<div class=" container clearfix">
    <div class="row">
        <h1>
            Latest Hindi
        </h1>
        <div>
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
                </div>
                <!--/.Controls-->
            
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
            
                <!--First slide-->
                <div class="carousel-item active">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <a href="#"><img class="img-fluid" src="assets/images/pic.jpg"
                        alt="Card image cap"></a>
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <a href="#"><img class="img-fluid" src="assets/images/pic1.jpg"
                        alt="Card image cap"></a>
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic2.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic3.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                        <img class="img-fluid" src="assets/images/pic4.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                        <img class="img-fluid" src="assets/images/pic5.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    
            
                </div>
                <!--/.First slide-->
            
                <!--Second slide-->
                <div class="carousel-item">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic6.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic7.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic7.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic8.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic9.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic10.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                </div>
                <!--/.Second slide-->
            
                <!--Third slide-->
                <div class="carousel-item">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic1.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic3.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic7.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic5.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic9.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                </div>
                <!--/.Third slide-->
            
                </div>
                <!--/.Slides-->
            
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
    <!-- second row-->
    <div class="row">
        <h1>
            Latest Hindi
        </h1>
        <div>
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
                </div>
                <!--/.Controls-->
            
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
            
                <!--First slide-->
                <div class="carousel-item active">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic1.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic2.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic3.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                        <img class="img-fluid" src="assets/images/pic4.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                        <img class="img-fluid" src="assets/images/pic5.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    
            
                </div>
                <!--/.First slide-->
            
                <!--Second slide-->
                <div class="carousel-item">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic7.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic8.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic9.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic10.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic1.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic5.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                </div>
                <!--/.Second slide-->
            
                <!--Third slide-->
                <div class="carousel-item">
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic4.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="assets/images/pic9.jpg"
                        alt="Card image cap">
                    </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic3.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic1.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/pic8.jpg"
                            alt="Card image cap">
                        </div>
                    </div>
            
                </div>
                <!--/.Third slide-->
            
                </div>
                <!--/.Slides-->
            
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
    
</div>