<div class="container"> 

    <div class="row">
        <div class="col-sm-6">
            <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Latest Hindi Music</h3>
        </div>
        <div class="col-sm-6">
           <h4 class="text-lg-right font-weight-light text-center  mt-4 mb-0"> <a routerLink="/gallery"  routerLinkActive="active">All music...</a> </h4>
        </div>

    </div>
    
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left"  >
        <div class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-6" *ngFor="let musicName of musicNames">
                            <a href="#" data-toggle="modal" data-target=".musicPopUp-modal-lg">
                                <img class="img-fluid img-thumbnail" src="assets/images/pic{{musicName}}.jpg" alt="">
                            </a>
                            <div class="caption text-white">
                                <p>pic{{musicName}}...</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row ">
                        <div class="col-lg-2 col-md-4 col-6" *ngFor="let musicName of musicNames">
                            <a href="#" data-toggle="modal" data-target=".musicPopUp-modal-lg">
                                <img class="img-fluid img-thumbnail" src="assets/images/pic{{musicName}}.jpg" alt="">
                            </a>
                            <div class="caption text-white">
                                <p>pic{{musicName}}...</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
      
    </div>
  
</div>



<!--Music Popup -->

<div class="modal fade musicPopUp-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg  bg-light" role="document" >
    <div class="modal-content">
        <div class="row ">
            <div class="col-md-3 mb-3 d-flex justify-content-center">
                <img class="img-fluid img-thumbnail" src="assets/images/pic.jpg"
                alt="Card image cap">
            </div>
            <div class="col-md-6 mb-6 p-5" >
                <audio controls>
                    <source src="assets/musics/Dil Tu Hi Bataa.mp3" type="audio/mpeg">
                </audio>
                
            </div>
            <div class="modal-footer col-md-3 mb-3 align-items-md-baseline">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
  </div>
</div>


  